<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> Has Registed</h1>
    <p> Details:</p>
    <p> name : <%= @user.name %> </p>
    <p> email: <%= @user.email %></p>
    <p> register number : <%= @user.register_no %> </p>
    <p> College Name : <%= @user.college_name %></p>
    <p> Workshop Name : <%= @user.dept_name %> </p>
    <p> Mobile number : <%= @user.mob_no %></p>
   



  </body>
</html>
